<a href="https://colab.research.google.com/github/Sivaraj1805/sivaraj/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful']
comments = ['He is a good boy','Food is the worst here','He is an awesome player','She is the best','This pizza tastes awful','These burger are really nice']

positive_comments = []
negative_comments = []

for comment in comments:
  for word in positive:
    if word in comment.lower():
      positive_comments.append(comment)
      break
  for word in negative:
    if word in comment.lower():
      negative_comments.append(comment)
      break

print("Positive comments:")
print(*positive_comments, sep='\n')
print("\nNegative comments:")
print(*negative_comments,sep='\n')

Positive comments:
He is a good boy
He is an awesome player
She is the best
These burger are really nice

Negative comments:
Food is the worst here
This pizza tastes awful

In [3]:
#2
dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Squareroot': lambda x: x ** 0.5
    }

num = int(input('Enter a number: '))

output = dict['Square'](num) + dict['Cube'](num) + dict['Squareroot'](num)

print(output)

Enter a number: 4
82.0

In [16]:
#3
fruits = (('Lemon','sour'),
('DragonFruit', 'Sweet'),
('Grapes','soUr'),
('Kiwi','Sour'),
('Apples','sweet'),
('Orange','sour'),
('Blueberries','sweet'),
('Limes','Sour')
)

sour_fruits = []

for fruit in fruits:
  if fruit[1].lower() == 'sour':
    sour_fruits.append(fruit[0])

print("Sour fruits:")
print(*sour_fruits,sep=', ')

Sour fruits:
Lemon, Grapes, Kiwi, Orange, Limes

In [18]:
#4
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

result = []

for word in ls:
  if len(word) > 1 and word[1].isupper():
    result.append(word)
print(result)

['hOw', 'ARe']

In [49]:
#5
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}

GMoon = 1.622

GEarth = 9.81


WeightOnMoon = "dict",(map(lambda x:(x[0],(x[1]*GMoon)/GEarth),WeightOnEarth.items()))


print("Weight on Moon:",weight_on_moon)

Weight on Moon: {'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

In [24]:
#6
namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']

result = []

for name in namesList:
  words = name.split()
  for word in words:
    if word[0].isupper():
      result.append(word)

print(result)

['Maria', 'Hello', 'World', 'Merry', 'You']

In [25]:
#7
from functools import reduce

given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

sets = [set(x) for x in given_sets]

result = reduce(lambda a, b: a & b, sets)

print(result)

{8, 3}

In [26]:
#8
from itertools import accumulate

lst = [9, 5, 7, 8, 5]

cumulative_avg = list(accumulate(lst, lambda x, y: (x + y) / 2))

print(cumulative_avg)

[9, 7.0, 7.0, 7.5, 6.25]

In [27]:
#9
lsbool = ['True','FALse','tRUe','tRue','False','faLse']

result = list(map(lambda x: x.upper(), lsbool))

print(result)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

In [28]:
#10
datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']

years = [date.split('-')[2] for date in datesList]

print(years)

['1997', '2011', '1993', '2020']